header{
  height: 170px;
  position: fixed;
  max-height: 200px;
  z-index: -2;
}

.encabezado{
  display: flex;
  height:120px;
  max-height: 140px;
  z-index: 1;
}

body{
  background-image: url(../img/nycfondo.jpg);
  repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

div[class*="foto-larga"]{
  height: 40rem;
  min-height: 50rem;
}

.fila-alta{
  min-height: 30rem;
}

div[class*="bloque"]{
  height: 15rem;
  padding-bottom: 10px;
}

div[class*="bloque"] img{
  width: 100%;
  padding: 5px;
  align-content: center;
}

div[class*="foto-larga"] img{
  height: 100%;
  padding: 10px;
  align-content: center;
}

.icono-social{
  padding-bottom: 10px;
  padding-left: : 5px;
}

.espacio{
  max-height: 4rem;
  height: 4rem;
}

.logo-l{
  float:left;
  width: 85%;
  padding-left: 50px;
  margin-top: -40px;
}

.logo-m{
  width: 90%;
  padding-left: 70px;
  margin-top: -30px;
}

.logo-s{
  float:left;
  width: 100%;
  padding-left: 60px;
  margin-top: -30px;
}

.barra-superior{
  display: inline-flex;
  float: right;
  padding-right: 5px;
  z-index: -2;
}

.botones-barra{
  padding: 7px;
}

.bloque img{
  max-width: 100%;
  height: 90%;
}

.foto-larga img{
  max-width: 100%;
  padding-bottom: 10px;
  width: 25rem;
  height: 35rem;
	object-fit: cover;
}

.slogan{
  font-family: Courier;
  padding-top: 7rem;
  margin-top: -70px;
}

.card img{
  width: 20rem;
  padding: 15px;
  float: left;
}

.card img[class*="imagen-small"]{
  width: 100%;
  padding: 15px;
}

.card img[class*="circle"]{
  width: 15rem;
  padding: 15px;
}

.comentarios{
  background-color: lightskyblue;
}

.titulo-form{
  padding-top: 20px;
  padding-bottom: 20px;
}

.invertir-color {
     -webkit-filter: invert(100%);
    filter: invert(100%);
}

img[class*="perfil"]{
  width: 40%;
}

.horizontal{
  display: inline-flex;
}

li[class*="separadores"]{
  padding: 7px;
}

.barra-social{
  height: 50px;
  max-height: 50px;
  min-height: 30px;
  padding-top: 10px;
}

.barra-social img{
  max-width: 40px;
}
